/*ENTIRE BODY STYLE*/
body{
	background-color: #f4f4f4;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 15px;
	line-height: 1.5;
	/*font: 15px/1.5 Helvetica, Arial, Sans-serif ;*/
	margin: 0;
	padding: 0;
}

/*HEADER STYLES*/
/*SPECIFICALLY THE TAB BAR & LOGO SETUP*/
.container {
	
	width: 100%;
	margin: 0 auto;
}

header{
	background-color: #9380AD;
	padding: 40px;
	padding-bottom: 60px;
	border-bottom: 10px solid #605078;
}

header::after{
	content: table
	clear:both;
}

.logo{
	float: left;
	padding: 5px;
	border: 5px solid #9380AD;
	width: 240px;
	border-radius: 70px;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;

}

nav li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 15px;
	padding-top: 15px;

	position: relative;
}

nav a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}

nav a:hover {
	color: white;
}



/*****TEXT HEADER STYLES*******/
h1, h2, h3, h4{
	font-family: 'Roboto Condensed', sans-serif;
}

h1{
	font-size: 60px;
	color: black;
	margin: 40px 0 10px;
	padding: 25px;
	padding-bottom: 5px;
	font-weight: bold;
	line-height: 60px;
	text-align: center;

}

h4{
	font-size: 18px;
	color: black;
	padding-left: 20px;
	text-align: center;
	font-style: italic;
}

h2{
	font-size: 30px;
	color: black;
	border-bottom: 10px solid #605078;
	text-align: center;
}
h3{
	font-size: 22px;
	color: black;
	text-align: left;
	font-style: bold;
	text-transform: underline;
}


p{
	font-size: 15px;
	color:black;
	text-align: justify;
}

/*MAIN CONTENT STYLES & SETUP*/
main{
	max-width: 800px;
	margin: 10px auto;
	padding: 0 10px;
}

main img{
	max-width: 100%;
	margin-left: 250px;
	border: 8px solid #605078;
	width: 325px;
	border-radius: 80px;
}

.description{
	text-transform: 
	padding-left: 50px;

}

.title {
	text-align: left;
	font-style: bold;
	text-decoration: underline;
	text-align: center;

}

.event-img {
	margin: 4px;
	display: block;
	float: center;
}

main ul{
	margin: 0;
	padding: 0;
}

main li{
	margin-left: 40px;
	margin-right: 15px;
	margin-top: 10px;
	font-size: 15px;
	position: relative;
}

main a {
	color: black;
}

main a:hover {
	background-color: #9380AD;
}


/*FOOTER SETUP & STYLE*/
footer a{
	color: black;
	font-size: 15px;
}

footer a:hover{
	background-color: white;
}

footer{
	color: black;
	text-align: center;
	background-color:  #9380AD;
	padding: 50px;
	border-top: 10px solid #605078;
}
footer p {
	margin: 0;
	text-align: center;
}
