body{

	background-color: #BEE3FA;
	margin: 0;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 20px;
}

header div {
	background-color: #BEE3FA;
	text-align: center;
}
header{
	display: inline-block;
	background-color: #BEE3FA;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px
}

header img{
	text-align: center;
	border-radius: 200px
	height: 300px;
	border: 20px solid #AFC2CF;

}


h1, h2, h3{
	font-family: 'Roboto Condensed', sans-serif;
}

h1{
	font-size: 70px;
	color: black;
	margin: 40px 0 10px;
	
	
}
h2{
	font-size: 40px;
	color: black;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}
main img{
	max-width: 100%;
}

a{
	color: black;
}

a:hover{
	background-color: #AFC2CF;
}

footer{
	color: white;
	text-align: center;
	background-color:  #AFC2CF;
	padding: 50px;
}
footer p {
	margin: 0;
}
