body{

	background-color: lightblue
}

h1{
	font-size: 50px;
	color: black;
	text-transform: uppercase;
}
h2{
	font-size: 30px;
	color: darkblue;
}
h2{
	font-size: 20px;
	color: darkblue;
}

.big {
	font-size: 50px;
}
.uppercase{
	
}